<div>
  <div>
    <span>
      <app-button
        [buttonIcon]="'assets/donwload-icon.svg'"
        [buttonAlt]="'ícone de download'"
        >Download</app-button
      >
      <app-button
        [buttonIcon]="'assets/star-icon.svg'"
        [buttonAlt]="'ícone de ums estrela'"
        ></app-button
      >
      <app-button
        [buttonIcon]="'assets/doi-icon.svg'"
        [buttonAlt]="'ícone escrito doi'"
        ></app-button
      >
    </span>
    <p></p>
  </div>
  <div>details</div>
</div>
