<div class="main-details-container">
  <div class="main-details-container-actions">
    <span class="main-details-container-actions-buttons">
      <app-button
        [buttonIcon]="'assets/donwload-icon.svg'"
        [buttonAlt]="'ícone de download'"
        >Download</app-button
      >
      <app-button
        [buttonIcon]="'assets/star-icon.svg'"
        [buttonAlt]="'ícone de ums estrela'"
      ></app-button>
      <app-button
        [buttonIcon]="'assets/doi-icon.svg'"
        [buttonAlt]="'ícone escrito doi'"
      ></app-button>
    </span>
    <p class="main-details-container-actions-title">COMO CITAR ESSE TRABALHO?</p>
  </div>
  <div>
    <app-dropdown [dropdownTitle]="'Detalhes'"></app-dropdown>
  </div>
</div>
