.app-discussions-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .app-discussions-container-link {
    font-family: var(--font-quicksand);
    font-weight: 400;
    font-size: var(--size-xs);
    color: var(--orange-500);
    border-bottom: 1px solid var(--orange-500);
    margin-bottom: 47px;
    cursor: pointer;
  }

  &-title {
    color: var(--orange-200);
    font-weight: 700;
    font-family: var(--font-roboto);
    font-size: var(--size-md);
    margin-bottom: 27px;
  }

  &-icons {
    display: flex;
    gap: 50px;
    margin-bottom: 35px;
  }

  &-description {
    font-family: var(--font-quicksand);
    font-weight: 400;
    font-size: var(--size-xs);
    color: var(--gray-500);
    text-align: center;
    margin-bottom: 14px;
  }

  &-create-topic {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 15px;

    &-line {
      width: 100%;
      height: 1px;
      background-color: var(--gray-200);
      position: absolute;
      z-index: 999;
    }

    .btn-create-topic {
      width: fit-content;
      border: 0;
      border-radius: 4px;
      background: linear-gradient(
        180deg,
        var(--orange-100) 0%,
        var(--orange-500) 100%
      );
      box-shadow: 0px 2px 2px 0px #0000003d;
      padding: 7px 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      transition: all 0.3s ease;
      z-index: 9999;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }

      p {
        color: var(--white);
        font-size: 15px;
        font-family: var(--font-quicksand);
        font-weight: 700;
      }
    }
  }

  &-feedback {
    width: 100%;
    background-image: url("../../assets/background-feedback.png");
    background-repeat: no-repeat;
    border-radius: 4px;

    &-content {
      display: flex;
      flex-direction: column;
      padding: 35px 0;

      align-items: center;
      justify-content: center;
      gap: var(--spacing-xs);

      > p {
        color: var(--gray-500);
      }
    }
  }
}

.app-discussions-form {
  width: 100%;
  display: flex;
  flex-direction: column;

  &-title {
    font-family: var(--font-quicksand);
    font-size: var(--size-xs);
    color: var(--gray-500);
    font-weight: 400;
    text-align: center;
    margin-bottom: 22px;
  }

  &-create {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-field {
      display: flex;
      flex-direction: column;

      > label {
        font-family: var(--font-roboto);
        font-size: var(--size-sm);
        color: var(--orange-500);
        font-weight: bold;
      }

      > input,
      textarea {
        width: 100%;
        outline: 1px solid var(--gray-200);
        border: none;
        border-radius: 3px;
        padding: 10px 23px;
        transition: all 0.3s ease;
        resize: vertical;

        &:focus {
          outline: 1px solid var(--orange-500);
        }
      }
    }

    &-send {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      background-color: var(--grey-0);
      border: 1px solid var(--gray-200);
      border-radius: 3px;
      height: 31px;
      margin-bottom: 15px;

      .btn-send-topic {
        background: linear-gradient(
          180deg,
          var(--orange-100) 0%,
          var(--orange-500) 100%
        );
        color: var(--white);
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 205px;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.app-discussions-container-comment {
  display: flex;
  flex-direction: column;
  gap: 17px;

  &-item {
    width: 100%;
    padding: 17px 24px;
    border: 1px solid var(--gray-100);
    box-shadow: 0px 0px 8px 0px #0000001f;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: var(--font-quicksand);

    &-header {
      &-title {
        font-size: var(--size-sm);
        color: var(--orange-500);
        font-weight: 700;
      }

      &-name {
        font-size: var(--size-xxs);
        color: var(--gray-300);
        font-weight: 500;
      }
    }

    &-description {
        color: var(--gray-300);
        font-weight: 400;
        font-size: var(--size-xs);
    }

    &-more-info {
      display: flex;
      gap: 15px;
      justify-content: flex-start;
      align-items: center;
      font-family: var(--font-quicksand);
      font-size: 14px;
    }
  }
}
