.app-button {
  background-color: var(--orange-200);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: var(--size-sm);
  color: var(--white);
  padding: 6px var(--spacing-sm);
  border-radius: var(--spacing-xxs);
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    opacity: .9;
  }
}