<div class="app-main-container">
  <div class="app-main-container-video-wrapper">
    <h2 class="app-main-container-video-wrapper-title">
      Análise sensorial de preparações funcionais desenvolvidas para escolares
      entre 09 e 15 anos, do município de Campinas/SP
    </h2>
    <div class="app-main-container-video-wrapper-video">
      <img src="assets/video-image.png" />
    </div>
  </div>
  <app-main-details></app-main-details>
  <div class="app-main-container-article-wrapper">
    <app-summary></app-summary>
    <app-discussions></app-discussions>
  </div>
</div>
