:root {
  --white: #ffffff;
  --black: #000000;
  --grey-50: #ECECEC;
  --gray-100: #e5e5e5;
  --gray-200: #CCCCCC;
  --gray-300: #5C5C5C;
  --grey-400: #4E4E4E;
  --gray-500: #4d4d4d;
  --yellow-100: #fdf1eb;
  --orange-100: #ffb354;
  --orange-200: #ED7839;
  --orange-500: #ee7a3a;
  --brown-100: #725c5c;
  --red-300: #F85959;
}
